* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f2ed;
}
/* Nav Bar */
.logo {
  position: absolute;
  float: left;
  margin: 16px 36px;
  color: #444647;
  font-weight: bold;
  font-size: 24px;
  left: 0;
}

.header-main {
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  height: 75px;
  background-color: #f5f2ed;
  border-bottom: solid 4px black;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.barra {
  float: right;
  margin-right: 20px;
}
.barra .nav .barra-nav {
  position: relative;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  bottom: 20px;
}
.barra .nav .barra-nav .barra-a {
  color: #000;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  bottom: 10px;
}
.nav .barra-nav .barra-a {
  text-decoration: none;
  bottom: 12px;
  font-family: "Poppins", sans-serif;
}
a.active,
.barra-a:hover {
  color: #fff;
  background-color: #a5a095;
  font-weight: 100;
  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}
.nav li a:hover {
  color: #fff;
}
.casas {
  position: absolute;
  display: none;
  list-style: none;
  top: 75px;
  width: max-content;
  background-color: #f5f2ed;
  border: solid 4px #000;
}
.casas .casas-li {
  width: max-content;
  padding-right: 15px;
  margin-left: -20px;
  padding-bottom: 20px;
  padding-top: 15px;
}
.casas .casas-li .barra-a2 {
  display: block;
  line-height: 30px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: solid 2px #000;
  padding: 5px;
}
.casas .casas-li :hover {
  border-radius: 3px;
}
.casas2 {
  display: block;
  width: fit-content;
  list-style: none;
  margin-left: 0;
}
.casas .casas-li:hover .casas2 {
  display: none;
}
.casas2 li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1.5px solid #000;
  border-left: 1.5px solid #000;
}
.casas2 {
  animation: fadeInOut 0.6s ease-in-out;
}
.refa {
  right: -25px;
}
.nav li:hover .casas {
  display: block;
}
#tl266 {
  position: relative;
}
#tl130 {
  position: relative;
}
#tl126 {
  position: relative;
}
#tl326 {
  position: relative;
}
#dps {
  position: relative;
  padding-top: 58px;
}
#tl180 {
  position: relative;
}
#casal10 {
  display: flex;
  flex-direction: row;
}
#casal10 div {
  width: 550px;
}
#refa {
  position: absolute;
  right: 127px;
  top: 18px;
}
.dept-san {
  top: 100%;
}
/* End Nav Bar */

img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.portada img {
  border-bottom: solid 8px #000;
  height: 850px;
}
.nombre-obra {
  position: absolute;
  z-index: 0;
  top: 755px;
  left: 25px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #f5f2ed;
}
.details {
  display: flex;
  margin: 25px;
}
.descripcion {
  display: flex;
  width: 750px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
}
.desc-casa {
  font-family: "Poppins";
  font-size: 15px;
}
.descripcion h3 {
  color: #444647;
  font-size: 28px;
}
.caracteristicas {
  width: 700px;
  display: flex;
  margin: 15px;
  gap: 1em;
  background-color: #f5f2ed;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 150px;
  padding: 1em;
  text-align: center;
  border: solid 3px #a5a095;
  display: flex;
  flex-direction: column;
  color: #444647;
  justify-content: center;
}
.box:hover {
  transition: 0.8s ease;
  transform: scale(1.1);
}
.box i {
  margin-top: 25px;
}
.item-1 {
  margin-left: 25px;
}
.franja {
  padding: 45px;
  background: #444647;
  padding-top: 30px;
  border-top: solid 8px #000;
  border-bottom: solid 8px #000;
}
.image-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f2ed;
}
.image-container img {
  margin: 15px;
}
.image-container img:hover {
  transform: scale(1.1);
}
.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image {
  height: 250px;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.container .image-container .image:hover img {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 1800px) {
  .container .popup-image img {
    width: 95%;
  }
}
.mapa {
  margin-top: 25px;
  margin-left: 20px;
}
.franja p {
  z-index: 1;
}
footer {
  border-top: solid 4px black;
}
.redes .logos a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 27px;
  margin-left: 65px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.redes .logos a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
  top: -13px;
}

.redes .logos a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.redes .logos a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.redes .logos a:hover:before {
  top: 0;
}

.redes .logos:nth-child(1) a:before {
  background: #3b5999;
}

.redes .logos:nth-child(2) a:before {
  background: linear-gradient(90deg, #ffdc80, #e1306c);
}

.redes .logos:nth-child(3) a:before {
  background: #0077b5;
}

.redes .logos:nth-child(4) a:before {
  background: #dd4b39;
}
.redes .logos:nth-child(5) a:before {
  background: #25d366;
}

.redes {
  padding-top: 70px;
  padding-bottom: 15px;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
}
.caja-info-mateo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  padding: 0 0 10px 0;
}
.caja-info-mateo p::selection {
  color: red;
  background-color: #000000;
}
.caja-footer {
  display: flex;
  background-color: #f5f2ed;
}
.caja-info-mateo p {
  height: 4px;
  top: 20px;
}
.icons {
  font-size: 2.8rem;
  color: #000;
  cursor: pointer;
  display: none;
}
@media (max-width: 1070px) {
  body {
    width: 790px;
  }
  .nav {
    position: absolute;
    left: 0px;
    top: 75px;
    width: 80%;
    height: 200px;
    background-color: transparent;
    text-align: center;
    z-index: -999;
  }
  .nav li {
    background-color: #f5f2ed;
    animation: menu-toggle 1s;
    display: block;
    width: 810px;
    left: -45px;
    background: #f5efe6;
  }
  #casasMenu {
    display: none;
  }
  .nav li a {
    border-bottom: #000 2px solid;
  }
  .nav li:hover .casas {
    display: none;
  }

  #nav-check:checked ~ .nav {
    left: 0;
  }
  .mapa {
    width: 790px;
  }
  .portada img {
    width: 100%;
    height: 460px;
    object-fit: contain;
  }
  .container {
    overflow: hidden;
    width: 810px;
  }
  .nombre-obra {
    position: absolute;
    z-index: 0;
    top: 380px;
    left: 15px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #f5f2ed;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.rotate {
  transition: transform 0.3s ease-in-out;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#check {
  display: none;
}
